shared:
  client:
    id:     'sdc-cooperative-frontend.vue'
    secret: 'c7063855c25f8eb61b45248bd10562baf2663e663842e0ef955a8800a1b722efea25fbb0ede6fce58698bab121055aa090db7b288c112569325c676a00610bcf'

  api:
    host: http://localhost:3000

  google:
    analytics: ''
  sentry:
    dsn: '' # Sentry Vue DSN


development:
  env:   development
  stage: development


test:
  env:   test
  stage: test


production:
  client:
    id:     'sdc-cooperative-frontend.vue'
    secret: 'TODO-the-hash'

  api:
    host: https://api.example.com

  env:   production
  stage: production
