// copied from skeleton-scss/scss/base/_variables.scss
// --

// Variables
//––––––––––––––––––––––––––––––––––––––––––––––––––

// Breakpoints
// $bp-larger-than-mobile    : "min-width: 400px" !default;
// $bp-larger-than-phablet   : "min-width: 550px" !default;
// $bp-larger-than-tablet    : "min-width: 750px" !default;
// $bp-larger-than-desktop   : "min-width: 1000px" !default;
// $bp-larger-than-desktophd : "min-width: 1200px" !default;

// Colors
// $light-grey: #e1e1e1 !default;
// $dark-grey: #333 !default;
// $primary-color: #33c3f0 !default;
// $secondary-color: lighten($dark-grey, 13.5%) !default;
// $border-color: #bbb !default;
// $link-color: #1eaedb !default;
// $font-color: #222 !default;

// Typography
// $font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif !default;

// Grid Variables
// XXX Fixing width at 400px!
$container-width: 400px;                                // $container-width: 960px !default;
$container-width-larger-than-mobile: $container-width;  // $container-width-larger-than-mobile: 85% !default;
$container-width-larger-than-phablet: $container-width; // $container-width-larger-than-phablet: 80% !default;
// $total-columns: 12 !default;
// $column-width: 100 / $total-columns !default; // calculates individual column width based off of # of columns
// $column-margin: 4% !default; // space between columns

// Misc
$global-radius: 4px !default;

$primary-color: $cerulean !default;
$link-color: $cerulean !default;
$font-family: 'Roboto', sans-serif;


input {
  &[type="date"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }

  &[type="date"] {
    height: 38px;
    padding: 6px 10px; // The 6px vertically centers text on FF, ignored by Webkit
    background-color: #fff;
    border: 1px solid lighten($border-color, 8.8%);
    border-radius: $global-radius;
    box-shadow: none;
    box-sizing: border-box;
  }
}

.text-left {
  text-align: left;
}
